<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="SingleSuperAdminLoginTest" verbose="2" parallel="false">
    
    <test name="SuperAdminLoginOnly">
        <classes>
            <class name="Tests.SuperAdminTest.SuperAdminLoginTest"/>
        </classes>
    </test>

</suite>