name: HRMS Selenium Automation

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Verify Java
      run: java -version

    - name: Set up Maven
      run: mvn -version

    - name: Install Chrome
      uses: browser-actions/setup-chrome@v1

    - name: Run Selenium Tests
      run: mvn test
